PORT=8000

ALLOW_ORIGINS=localhost:3000,https://motoguard.vercel.app
APP_ENV=dev
APP_URL=http://localhost:8000

JWT_SECRET=your_jwt_secret_key

DATABASE_NAME=motoguard
DATABASE_PASSWORD=
DATABASE_USERNAME=root
DATABASE_HOST=localhost